<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <script>
        const f12 = () => {
            document.onkeydown = function(e) {
                if(event.keyCode == 123) {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'I') {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'C') {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'J') {
                    return false;
                }
                if(e.ctrlKey && e.keyCode == 'U') {
                    return false;
                }
            }
        }

        <% if (production) { %>
            f12();
            console.log('prod');
        <% } else { %>
            console.log('dev');
        <% } %>

        const agent = navigator.userAgent.toLowerCase();

        if (agent.indexOf("chrome") == -1) {
            alert("크롬 브라우저만 사용 가능합니다.");
            location.href = "about:blank";
        }
    </script>
</head>
<body> 
    <h1>원하는 파일을 업로드하세요</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="imageInput" />
        <input type="submit" id="upload" value="업로드" />
    </form>

    <script>
    const upload = document.getElementById('upload');
    const imageInput = document.getElementById('imageInput');

    upload.addEventListener('click', (e) => {
        if (imageInput.files.length === 0) {
            e.preventDefault();
            alert('파일을 선택하세요');
            return;
        } 
    });
    </script>
</body> 
</html>